code {
    margin-top: .1em;
    margin-bottom: 0.1em;
    font-size: 0.9em;
    padding: 0.2em;
    border-radius: 0.2em;
    border: solid 1.5px #989898;
    background-color: #1e1e1e;
}

.code-than {
    color: rgb(128, 128, 128);
}

.code-tag {
    color: rgb(86, 156, 214);
}

.code-option {
    color: rgb(156, 220, 254);
}

.code-nomal {
    color: rgb(204, 204, 204);
}

.code-link {
    color: rgb(206, 145, 120);
    text-decoration: underline;
}
