body {
    background-color: #fff;
    margin: auto;
}

.a {
    background-color: #896055;
    position:  absolute;
    width: 7.5vh;
    height: 26vh;
    left: 3.5vh;
    top: 4vh;
    border-radius: 1vh;
}

.b {
    background-color: #896055;
    position:  absolute;
    width: 7vh;
    height: 7vh;
    left: 20vh;
    top: 4vh;
    border-radius: 50%;
}

.c {
    background-color: #896055;
    position:  absolute;
    width: 24vh;
    height: 7.5vh;
    left: 0vh;
    top: 14vh;
    border-radius: 1vh;
}

.d {
    background-color: #896055;
    position:  absolute;
    width: 7.5vh;
    height: 7.5vh;
    left: 20vh;
    top: 14vh;
    border-radius: 50%;
}

.e {
    background-color: #896055;
    position:  absolute;
    width: 7.5vh;
    height: 9vh;
    left: 20vh;
    top: 17vh;
    border-radius: 1vh;
}

.edge-1 {
    background-color: #896055;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 19vh;
    top: 21.5vh;
}

.edge-2 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 19vh;
    top: 21.5vh;
    border-radius: 0 50% 0 0;
}
