body {
    margin: 0px;
}

.main {
    position:  relative;         /* 要素の配置方法をと子要素の起点を指定 */
    width: 100vw;               /* 幅指定 */
    height: 100vw;             /* 高さ指定 */
    background-color: #fff;
}

.wing {
    position:  absolute;
    background-color: #d1ecee;
    width: 20vw;
    height: 10vw;
    left: 0px;
    top: 40vw;
}

.wing1 {
    position:  absolute;
    background-color: #d1ecee;
    width: 20vw;
    height: 10vw;
    left: 80vw;
    top: 40vw;
}

.wingL1 {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 10vw;
    left: 20vw;
    top: 40vw;
}

.wingR1 {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 10vw;
    left: 60vw;
    top: 40vw;
}

.body {
    position:  absolute;
    background-color: #6694d9;
    width: 20vw;
    height: 20vw;
    left: 40vw;
    top: 35vw;
}

.collar {
    position:  absolute;
    background-color: #fff;
    width: 10vw;
    height: 3vw;
    left: 45vw;
    top: 35vw;
    z-index: 40;
}

.ribbon {
    position:  absolute;
    background-color: #eded7b;
    width: 5vw;
    height: 10vw;
    left: 47.5vw;
    top: 37.5vw;
}

.neck {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 2vw;
    left: 40vw;
    top: 33vw;
}

.hairOrnaments {
    position:  absolute;
    background-color: #f9d579;
    width: 10vw;
    height: 10vw;
    left: 55vw;
    top: 5vw;
}

.hair {
    position:  absolute;
    background-color: #a1ce77;
    width: 25vw;
    height: 25vw;
    left: 37.5vw;
    top: 8vw;
}

.head {
    position:  absolute;
    background-color: #fff0d7;
    width: 18vw;
    height: 18vw;
    left: 41vw;
    top: 15vw;
}

.shirt {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 2vw;
    left: 40vw;
    top: 55vw;
}

.skirt {
    position:  absolute;
    background-color: #6694d9;
    width: 20vw;
    height: 20vw;
    left: 40vw;
    top: 57vw;
}

.skirt1 {
    position:  absolute;
    background-color: #6694d9;
    transform: rotate(45deg);
    width: 25vw;
    height: 25vw;
    left: 37.5vw;
    top: 64vw;
}

.skirtLine {
    position:  absolute;
    background-color: #fff;
    width: 40vw;
    height: 0.5vw;
    left: 30vw;
    top: 73.5vw;
}

.handL {
    position:  absolute;
    background-color: #fff0d7;
    width: 10vw;
    height: 10vw;
    left: 25vw;
    top: 55vw;
}

.handR {
    position:  absolute;
    background-color: #fff0d7;
    width: 10vw;
    height: 10vw;
    left: 65vw;
    top: 55vw;
}