/*なんでCSSなんて見てるんだい？　f12で確認したほうが楽だろ*/
/*==========ヘッダー==========*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&family=Zen+Maru+Gothic&display=swap');

header {
    width: 100%;
    padding: 0px;
    background-color: #a2a2a2;
}

.header-ul {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    list-style: none;
    display: flex;
}

.title-256 {
    margin-top: 3px;
    margin-right: auto;
}

.title-256 a {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

nav {
    margin-top: 7px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;
}

/*==========フッター==========*/
.footer {
    color: #808080;
    background: #e5e5e5;
    padding: 30px;
}

.footer a {
    color: #808080;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-menu li {
    margin: 0;
    padding: 0 10px;
}

.footer .footer-menu li:first-child {
    padding-left: 0;
    border: none;
}

.footer .copyright {
    margin: 0;
    padding: 20px 0 0 0;
}

    @media only screen and (max-width: 599px) {
        .footer .footer-menu li {
        width: 50%;
        padding: 0 20px 0 0;
        box-sizing: border-box;
        border: none;
        }
    }

    @media (min-width: 500px)/*PC用*/ {
        .title {
        text-align: center;
        margin-top: 5vw;
        font-size: 256%;
    }
    
    .sub-title {
        text-align: center;
    }

    .top-h2 {
        margin-top: 70px;
    }

    .counter {
        padding-top: 10px;
    }
}

/*FontAwesomeを使用しています。*/
.header-8 {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
}

.box {
    box-sizing: border-box;
}

/*==========main==========*/
body {
    margin: auto;
}

main {
    margin-left: 5%;
    margin-right: 5%;
}

.top {
    text-align: center;
    margin-left: -5%;
}

.top-h1 {
    font-size: 50px;
    margin-bottom: -20px;
}

.mini-p {
    font-size: 0.5em;
    color: #808080;
}

h1 {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
}

p , h3 {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Zen Maru Gothic', sans-serif;
}

h2 {
    margin-left: -2%;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Zen Maru Gothic', sans-serif;
}