/* レイアウトのためのCSS */

h1 {
  font-size:16px;
}

.h2 {
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

h2 {
    font-size: 20px;
}

.a {	
    text-decoration: none;
    color: #333;
 }

.titel {
    font-size: 512%;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.logo {
    font-size: 320%;
    font-family: 'Zen Maru Gothic', sans-serif;
}

li {
    font-size: 128%;
}

p {
  margin-top:20px;  
}

small {
  color:#333;
  display: block;
  text-align: center;
}

#header {
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section { /*                             */
  padding:5% 5%;
}

section:nth-child(2n) {
  background:#f3f3f3;
}

#footer {
  background: transparent;
  /* padding:1px; */
}

/* スクロールダウン！！！！ */
.nun {
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #333;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
  }
  .nun::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #333;
  }

  .nun::after {
    animation: sdl 1.5s cubic-bezier(1, 0, 0, 1) infinite;
  }
  @keyframes sdl {
    0% {
      transform: scale(1, 0);
      transform-origin: 0 0;
    }
    50% {
      transform: scale(1, 1);
      transform-origin: 0 0;
    }
    50.1% {
      transform: scale(1, 1);
      transform-origin: 0 100%;
    }
    100% {
      transform: scale(1, 0);
      transform-origin: 0 100%;
    }
  }

.a404 {
  font-size: 40vw;
}