body {
    margin: 100px;
}

ul {
    display: flex;
    flex-wrap:wrap;
    padding-left:0;
}

li{
    list-style:none;
}

/*フッター */

.footer03 {
    color: #808080;
    background: #e5e5e5;
    padding: 30px;
 }
 
 .footer03 a {
    color: #808080;
    text-decoration: none;
 }
 
 .footer03 a:hover {
    text-decoration: underline;
 }
 
 .footer03 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
 }
 
 .footer03 .menu li {
    margin: 0;
    padding: 0 20px;
    border-left: 1px #808080 solid;
 }
 
 .footer03 .menu li:first-child {
    padding-left: 0;
    border: none;
 }
 
 .footer03 .copyright {
    margin: 0;
    padding: 20px 0 0 0;
 }
 
 @media only screen and (max-width: 599px) {
    .footer03 .menu li {
       width: 50%;
       padding: 0 20px 0 0;
       box-sizing: border-box;
       border: none;
    }
 }