<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>256server｜titel</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BN5KGMB0GN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BN5KGMB0GN');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5856031137941875"
    crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <ul class="header-ul">
            <li class="nav-titel"><a href="https://256server.com">256</a></li>
            <li class="nav-link">
                <nav>
                    <ul>
                        <li><div class="nav-content"><a href="https://256server.com">home</a></div></li>
                        <li><div class="nav-content"><a href="https://256server.com/tools/index.html">tools</a></div></li>
                        <li><div class="nav-content"><a href="https://256server.com/history/index.html">history</a></div></li>
                    </ul>
                </nav>
            </li>
        </ul>
    </header>
    
    <main>
        <div class="center">
            <h1>titel</h1>
        </div>

        <h2>h2 titel</h2>
        <div class="text">
            <p>ptag text</p>
        </div>

        <hr>

    </main>
    <footer class="footer" id="footer">
        <ul class="footer-menu">
            <li>CPU使用率: <span id="web-server-cpu"></span>%</li>
            <li>RAM使用率: <span id="web-server-ram"></span>%</li>
        </ul>
        <ul class="footer-menu">
            <li><a href="https://twitter.com/256_daisuke">twitter</a></li>
            <li><a href="https://youtube.com/@_256">youtube</a></li>
            <li><a href="https://gyougetsu.com/">ブログ</a></li>
        </ul>
        <ul class="footer-menu">
            <li><a href="https://256server.com/terms.html">利用規約</a></li>
            <li><a href="https://256server.com/profile.html">プロフィール</a></li>
        </ul>
    </footer>
    <script src="/js/footer.js"></script>
</body>
</html>