body {
    background-color: #fff;
    margin: auto;
}

.a {
    background-color: #896055;
    position:  absolute;
    width: 19vh;
    height: 7vh;
    left: 2.5vh;
    top: 4vh;
    border-radius: 1vh;
}