body {
    background-color: #fff;
    margin: auto;
}

.a {
    background-color: #EE8385;
    position:  absolute;
    width: 10vh;
    height: 51vh;
    left: 0vh;
    top: 0vh;
    border-radius: 1vh;
}

.b {
    background-color: #EE8385;
    position:  absolute;
    width: 10vh;
    height: 10vh;
    left: 0vh;
    top: 50vh;
    border-radius: 0 0 0 100%;
}

.c {
    background-color: #EE8385;
    position:  absolute;
    width: 41vh;
    height: 10vh;
    left: 10vh;
    top: 50vh;
}

.d {
    background-color: #EE8385;
    position:  absolute;
    width: 10vh;
    height: 10vh;
    left: 50vh;
    top: 50vh;
    border-radius: 0 0 100% 0;
}

.e {
    background-color: #EE8385;
    position:  absolute;
    width: 10vh;
    height: 20vh;
    left: 50vh;
    top: 31vh;
    border-radius: 1vh;
}

.edge-1 {
    background-color: #EE8385;
    position:  absolute;
    width: 2vh;
    height: 2vh;
    left: 10vh;
    top: 48vh;
}

.edge-2 {
    background-color: #FFF;
    position:  absolute;
    width: 2vh;
    height: 2vh;
    left: 10vh;
    top: 48vh;
    border-radius: 0 0 0 100%;
}

.edge-3 {
    background-color: #EE8385;
    position:  absolute;
    width: 2vh;
    height: 2vh;
    left: 48vh;
    top: 48vh;
}

.edge-4 {
    background-color: #FFF;
    position:  absolute;
    width: 2vh;
    height: 2vh;
    left: 48vh;
    top: 48vh;
    border-radius: 0 0 100% 0;
}
