body {
    background-color: #fff;
    margin: auto;
}

.a {
    background-color: #73ADC3;
    position:  absolute;
    width: 15vh;
    height: 12vh;
    left: 2.5vh;
    top: 54.8vh;
    border-radius: 1vh;
    transform: rotate(-45deg);
}

.b {
    background-color: #73ADC3;
    position:  absolute;
    width: 42vh;
    height: 42vh;
    left: 6vh;
    top: 12vh;
    border-radius: 50%;
}

.c {
    background-color: #73ADC3;
    position:  absolute;
    width: 12vh;
    height: 13vh;
    left: 30vh;
    top: 47vh;
    border-radius: 1vh;
}

.d {
    background-color: #73ADC3;
    position:  absolute;
    width: 12vh;
    height: 12vh;
    left: 30vh;
    top: 58vh;
    border-radius: 0 0 0 100%;
}

.e {
    background-color: #73ADC3;
    position:  absolute;
    width: 12vh;
    height: 12vh;
    left: 40vh;
    top: 58vh;
    border-radius: 1vh;
}

.f {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 14vh;
    left: 43vh;
    top: 7vh;
    border-radius: 1vh;
    transform: rotate(45deg);
}

.g {
    background-color: #73ADC3;
    position:  absolute;
    width: 15vh;
    height: 6vh;
    left: 39vh;
    top: 6vh;
    border-radius: 1vh;
}

.h {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 14vh;
    left: 48vh;
    top: 7vh;
    border-radius: 1vh;
}

.i {
    background-color: #FFFABA;
    position:  absolute;
    width: 20vh;
    height: 20vh;
    left: 17.5vh;
    top: 23vh;
    border-radius: 50%;
}

.edge-1 {
    background-color: #73ADC3;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 42vh;
    top: 57vh;
}

.edge-2 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 42vh;
    top: 57vh;
    border-radius: 0 0 0 100%;
}
