.main {
    position:  relative;        /* 要素の配置方法をと子要素の起点を指定 */
    border: solid 2px red;      /* 枠線指定 */
    height:  700px;             /* 高さ指定 */
    width: 700px;               /* 幅指定 */
}
 
.a {
    position:  absolute;        /* 要素の配置方法を指定 */
    background-color: #000;     /* 背景色指定 */
    width: 100px;
    height: 100px;         
    left: 300px;                /* 右からの位置指定 */
    top: 300px;                  /* 上からの位置指定 */
}

.b {
    position:  absolute;
    left: 315px;
    top: 250px;
    background-color: #fff;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
}

.c {
    position:  absolute;
    left: 335px;
    top: 320px;
    background-color: red;
    width: 30px;
    height: 60px;
}

.d {
    position:  absolute;
    background-color: #000;
    width: 100px;
    height: 100px;
    left: 300px;
    top: 410px;
}

.e {
    position:  absolute;
    background-color: #000;
    width: 200px;
    height: 200px;
    left: 250px;
    top: 455px;
    transform: rotate(45deg);
}

.f {
    position:  absolute;
    background-color: #fff0d7;
    width: 100px;
    height: 50px;
    left: 100px;
    top: 320px;
}

.g {
    position:  absolute;
    background-color: #fff0d7;
    width: 100px;
    height: 50px;
    left: 500px;
    top: 320px;
}

.i {
    position:  absolute;
    background-color: #fff;
    width: 100px;
    height: 50px;
    left: 200px;
    top: 320px;
}

.j {
    position:  absolute;
    background-color: #fff;
    width: 100px;
    height: 50px;
    left: 400px;
    top: 320px;
}

.k {
    position:  absolute;
    background-color: #fff;
    width: 100px;
    height: 10px;
    left: 300px;
    top: 400px;
}

.l {
    position:  absolute;
    background-color: #ffefb1;
    width: 150px;
    height: 150px;
    left: 275px; 
    top: 130px;
}

.m {
    position:  absolute;
    background-color: #fff0d7;
    width: 100px;
    height: 100px;
    left: 300px; 
    top: 181px;
}

.h {
    position:  absolute;
    background-color: red;
    width: 60px;
    height: 60px;
    left:385px; 
    top: 110px;
}