.a {
    background-color: #896055;
    position:  absolute;
    width: 19vw;
    height: 7.5vw;
    left: 3.5vw;
    top: 10vw;
    border-radius: 1vw;
}

.b {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 27vw;
    left: 11.5vw;
    top: 6vw;
    border-radius: 1vw;
}

.c {
    background-color: #896055;
    position:  absolute;
    width: 9vw;
    height: 9vw;
    left: 25.5vw;
    top: 9.25vw;
    border-radius:50%
}

.d {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 7.5vw;
    left: 7.5vw;
    top: 22vw;
}

.e {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 7.5vw;
    left: 0vw;
    top: 22vw;
    border-radius: 100% 0 0 0;
}

.f {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 3vw;
    left: 0vw;
    top: 29vw;
}

.g {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 7.5vw;
    left: 9.5vw;
    top: 32vw;
    border-radius: 0 0 0 100%;
}

.h {
    background-color: #896055;
    position:  absolute;
    width: 4.5vw;
    height: 7.5vw;
    left: 17vw;
    top: 32vw;
}

.i {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 7.5vw;
    left: 21vw;
    top: 32vw;
    border-radius: 0 0 100% 0;
}

.j {
    background-color: #896055;
    position:  absolute;
    width: 5vw;
    height: 7.5vw;
    left: 31.5vw;
    top: 22vw;
    border-radius: 1vw;
}

.k {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 7.5vw;
    left: 35vw;
    top: 22vw;
    border-radius: 0 100% 0 0;
}

.l {
    background-color: #896055;
    position:  absolute;
    width: 7.5vw;
    height: 11.5vw;
    left: 35vw;
    top: 28vw;
    border-radius: 1vw;
}

.edge-1 {
    background-color: #896055;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 17vw;
    top: 29.5vw;
}

.edge-2 {
    background-color: #fff;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 17vw;
    top: 29.5vw;
    border-radius: 100% 0 0 0;
}

.edge-3 {
    background-color: #896055;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 17vw;
    top: 31vw;
}

.edge-4 {
    background-color: #fff;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 17vw;
    top: 31vw;
    border-radius: 0 0 0 100%;
}

.edge-5 {
    background-color: #896055;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 20vw;
    top: 29.5vw;
}

.edge-6 {
    background-color: #fff;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 20vw;
    top: 29.5vw;
    border-radius: 0 100% 0 0;
}

.edge-7 {
    background-color: #896055;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 34vw;
    top: 29.5vw;
}


.edge-8 {
    background-color: #fff;
    position:  absolute;
    width: 1vw;
    height: 1vw;
    left: 34vw;
    top: 29.5vw;
    border-radius: 0 100% 0 0;
}