.bg-dark {
    background-color: #222 !important;
}

.mx-auto {
    width: 200px;
    margin: 0 auto; 
}

footer{
    width: 100%;
    background-color: #312d2a;
    color: #61696f;
    text-align: center;
    padding: 20px 0;

    position: absolute;/*絶対位置*/
}