body {
    margin: 0px;
}

.main {
    position:  relative;         /* 要素の配置方法をと子要素の起点を指定 */
    width: 100vw;               /* 幅指定 */
    height: 100vw;             /* 高さ指定 */
    background-color: #f3d8df;
}

.handL {
    position:  absolute;
    background-color: #fff0d7;
    width: 20vw;
    height: 10vw;
    left: 0vw;
    top: 40vw;
}

.handR {
    position:  absolute;
    background-color: #fff0d7;
    width: 20vw;
    height: 10vw;
    left: 80vw;
    top: 40vw;
}

.handL1 {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 10vw;
    left: 20vw;
    top: 40vw;
}

.handR1 {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 10vw;
    left: 60vw;
    top: 40vw;
}

.body {
    position:  absolute;
    background-color: #000;
    width: 20vw;
    height: 20vw;
    left: 40vw;
    top: 35vw;
}

.ribbon {
    position:  absolute;
    background-color: red;
    width: 5vw;
    height: 10vw;
    left: 47.5vw;
    top: 38.5vw;
}

.collar {
    position:  absolute;
    background-color: #fff;
    width: 14vw;
    height: 14vw;
    left: 43vw;
    top: 23.9vw;
    transform: rotate(45deg);
}

.neck {
    position:  absolute;
    background-color: #f3d8df;
    width: 20vw;
    height: 2vw;
    left: 40vw;
    top: 33vw;
}

.hairOrnaments {
    position:  absolute;
    background-color: red;
    width: 15vw;
    height: 15vw;
    left: 50vw;
    top: 5vw;
}

.hair {
    position:  absolute;
    background-color: #ffefb1;
    width: 25vw;
    height: 25vw;
    left: 37.5vw;
    top: 8vw;
}

.head {
    position:  absolute;
    background-color: #fff0d7;
    width: 18vw;
    height: 18vw;
    left: 41vw;
    top: 15vw;
}

.shirt {
    position:  absolute;
    background-color: #fff;
    width: 20vw;
    height: 2vw;
    left: 40vw;
    top: 55vw;
}

.skirt {
    position:  absolute;
    background-color: #000;
    width: 20vw;
    height: 20vw;
    left: 40vw;
    top: 57vw;
}

.skirt1 {
    position:  absolute;
    background-color: #000;
    transform: rotate(45deg);
    width: 25vw;
    height: 25vw;
    left: 37.5vw;
    top: 64vw;
}