body.no_scroll{
    overflow: hidden;
}

#canvas {
    width: 800px;
    height: 800px;
    background: #eee;

    position: relative;
    top: 0;
    left: 0;
}

.mainContent {
    position: absolute;
}

h3 {
    color: #000;
}