body {
    background-color: #eee;
    margin: auto;
}

header {
    width: 100%;
    height: 50px;
    background-color: #bbb;
}

.header-flex {
    display: flex;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #222;
}

.logo {
    margin-top: 0px;
    background-color: red;
    font-family: 'monospace';
    font-size: 1.5em;
    width: 2em;
    text-decoration: none;
    color: #222;
}

header ul {
    display: flex; /* 横に並べるやつ */
    float: right; /* 右端に寄せるやつ */
    list-style: none;
    width: 20em;
}

header li {
    margin-right: 5%;
    width: 4em;
}

.header_button {
    display: block;
    width: 55px;
    height: 55px;
}

@media screen and (max-width:512px) { /*　画面サイズが512px以下の場合ここの記述が適用される*/
    html,body {
        overflow-x: hidden; /* スクロール禁止！ */
    }

    header {
        width: 100%;
        height: 70px;
    }
    
    .logo {
        padding-top: 12px;
        padding-left: 8px;
        font-family: 'monospace';
        font-size: 2em;
        width: 2em;
    }

    .header_btn {
        
        float: right; /* 右端に寄せるやつ */
    }

    .header-menu {
        margin-left: 190%;
    }
    
    header ul {
        display: block; /* 横に並べるやつ */
        padding: 0px;
        margin-top: 10px;
        list-style: none;
        width: 8em;
        background-color: #bbb;
    }
    
    header li {
        margin: 10px;
        margin-left: -27px;
        padding: 0px;
        width: 6em;
        font-size: 1.5em;
        color: #222;
        background-color: #ababab;
    }
}