body {
    background-color: #fff;
    margin: auto;
}

.a {
    background-color: #73ADC3;
    position:  absolute;
    width: 5vh;
    height: 12vh;
    left: 0vh;
    top: 7vh;
    border-radius: 1vh;
}

.b {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 6vh;
    left: 0vh;
    top: 17.5vh;
    border-radius: 0 0 0 100%;
}

.c {
    background-color: #73ADC3;
    position:  absolute;
    width: 3vh;
    height: 6vh;
    left: 5vh;
    top: 17.5vh;
    border-radius: 1vh;
}


.d {
    background-color: #73ADC3;
    position:  absolute;
    width: 20vh;
    height: 6vh;
    left: 10vh;
    top: 4vh;
    border-radius: 1vh;
}

.e {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 23vh;
    left: 21vh;
    top: 0vh;
    border-radius: 1vh;
}

.f {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 6vh;
    left: 21vh;
    top: 22vh;
    border-radius: 0 0 100% 0;
}

.g {
    background-color: #73ADC3;
    position:  absolute;
    width: 8vh;
    height: 6vh;
    left: 14vh;
    top: 22vh;
    border-radius: 1vh;
}


.h {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 6vh;
    left: 10vh;
    top: 22vh;
    border-radius: 0 0 0 100%;
}

.i {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 4vh;
    left: 10vh;
    top: 19vh;
    border-radius: 1vh;
}

.j {
    background-color: #73ADC3;
    position:  absolute;
    width: 6vh;
    height: 6vh;
    left: 10vh;
    top: 14vh;
    border-radius: 100% 0 0 0;
}

.l {
    background-color: #73ADC3;
    position:  absolute;
    width: 15vh;
    height: 6vh;
    left: 15vh;
    top: 14vh;
    border-radius: 1vh;
}

.edge-1 {
    background-color: #73ADC3;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 5vh;
    top: 16.5vh;
}

.edge-2 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 5vh;
    top: 16.5vh;
    border-radius: 0 0 0 100%;
}

.edge-3 {
    background-color: #73ADC3;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 20vh;
    top: 21vh;
}

.edge-4 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 20vh;
    top: 21vh;
    border-radius: 0 0 100% 0;
}

.edge-5 {
    background-color: #73ADC3;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 16vh;
    top: 21vh;
}

.edge-6 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 16vh;
    top: 21vh;
    border-radius: 0 0 0 100%;
}

.edge-7 {
    background-color: #73ADC3;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 16vh;
    top: 20vh;
}

.edge-8 {
    background-color: #fff;
    position:  absolute;
    width: 1vh;
    height: 1vh;
    left: 16vh;
    top: 20vh;
    border-radius: 100% 0 0 0;
}
